---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionMain from "../components/SectionMain.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Github from "../components/icons/Github.astro";
import Instagram from "../components/icons/Instagram.astro";
import Steam from "../components/icons/Steam.astro";
import Gmail from "../components/icons/Gmail.astro";
---

<Layout
  title="Portfolio de cnrxad - Desarrollador y Programador Web con 2 a침os de experiencia"
  description="Contrata a cnrxad para crear la aplicaci칩n web de tus sue침os."
>
  <main class="px-4 w-full">
    <SectionMain class="py-44 pb-24">
      <img
        class="rounded-full w-16 h-16"
        src="https://avatars.githubusercontent.com/u/105384316?v=4"
        alt="cnrxad"
        draggable="false"
      />

      <h1 class="text-white text-5xl font-bold flex gap-x-4 pb-10">
        Hey, soy cnrxad <a
          href="https://github.com/cnrxad"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>En la cola del INEM</Badge></a
        >
      </h1>
      <h2 class="text-white text-2xl opacity-85 text-center">
        +2 a침os de experiencia. <span class="text-yellow-100"
          >Desarrollador Web y Programador Junior.</span
        >
        <br /> - De <span class="text-blue-200">Galiza</span>, Espa침a 游쀯릖
      </h2>

      <nav id="socials" class="flex gap-x-8 mt-16 h-12 justify-center">
        <SocialPill href="https://github.com/cnrxad">
          <Github class="w-4 h-4" />
          Github
        </SocialPill>
        <SocialPill href="https://instagram.com/cnrxad">
          <Instagram class="w-4 h-4" />
          Instagram
        </SocialPill>
        <SocialPill href="https://steamcommunity.com/id/cnrxad/">
          <Steam class="w-4 h-4" />
          Steam
        </SocialPill>
        <SocialPill href="https://cnrxad@gmail.com">
          <Gmail class="w-4 h-4" />
          cnrxad@gmail.com
        </SocialPill>
      </nav>
    </SectionMain>

    <style>
      @media (max-width: 768px) {
        #socials {
          flex-direction: column;
          padding-top: 20%;
          padding-bottom: 25%;
          column-gap: 50%;
        }
        h1 {
          padding-bottom: 3%;
        }
      }
    </style>
    <SectionContainer>
      <h2 id="Proyectos" class="text-2xl font-semibold mb-10"># Proyectos</h2>
      <h3 class="text-xl mb-6 ml-12">
        - <span class="underline">Timeline:</span>
      </h3>
      <Projects id="Projects" />
      <h3 class="text-xl mt-10 ml-12 mb-6">
        - <span class="underline">Gallery:</span>
      </h3>
      <Gallery />
    </SectionContainer>
    <SectionContainer>
      <h2 id="Contacto" class="text-2xl font-semibold mb-10"># Contacto</h2>
      <Contact />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
