<form class="space-y-4" action="https://formsubmit.co/cnrxad@gmail.com" method="POST">
  <div>
    <label for="name" class="block text-sm font-medium text-gray-50">Email</label>
    <div class="mt-1">
      <input type="text" name="email" id="email" required class="p-3 border border-gray-50 rounded block w-full sm:text-sm bg-white/10">
    </div>
  </div>

  <div>
    <label for="subject" class="block text-sm font-medium text-gray-50">Asunto</label>
    <div class="mt-1">
      <input type="text" name="subject" id="subject" required class="p-3 border border-gray-50 rounded-md block w-full sm:text-sm bg-white/10">
    </div>
  </div>

  <div>
    <label for="message" class="block text-sm font-medium text-gray-50">Mensaje</label>
    <div class="mt-1">
      <textarea name="message" id="message" rows="4" required class="p-3 border border-gray-50 rounded-md  block w-full sm:text-sm bg-white/10"></textarea>
    </div>
  </div>

  <div>
    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white hover:bg-blue-300 transition bg-white/10">
      Enviar
    </button>
  </div>
</form>
