<div class="container">
    <div class="grid grid-cols-4 gap-30 w-[1400] justify-items-center items-center">
        <div>
            <img class="w-50 h-50 rounded-lg" src="../../img/ftar_72shots_so.png" alt="">
        </div>
        <div>
            <img class="w-50 h-50 rounded-lg" src="./../img/scrapping-223shots_so.png" alt="">
        </div>
        <div>
            <img class="w-50 h-50 rounded-lg" src="../../img/ipfinder-164shots_so.png" alt="">
        </div>
        <div>
            <img class="w-50 h-50 rounded-lg" src="../../img/ipfinder-web-882shots_so.png" alt="">
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
    }
</style>