<header
  class="flex justify-center items-center py-5 w-[1120px] mx-auto sticky top-0 bg-transparent"
  style="-webkit-backdrop-filter: blur(10px); backdrop-filter: blur(5px);"
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a
      href="/"
      class="hover:scale-110 hover:bg-white/10 hover:underline
    transition"
      >Home</a
    >
    <a
      href="/#Proyectos"
      class="hover:scale-110 hover:bg-white/10 hover:underline
    transition"
      >Proyectos</a
    >
    <a
      href="/#Contacto"
      class="hover:scale-110 hover:bg-white/10 hover:underline
    transition"
      >Contacto</a
    >
  </nav>
</header>
