---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<style>
  .fade {
    opacity: 0;
    transition: opacity 1.68s ease-in;
  }
</style>

<script type="module">
  document.addEventListener("DOMContentLoaded", (event) => {
    const element = document.querySelector("#fadeDiv");
    if (element && element instanceof HTMLElement) {
      setTimeout(() => {
        element.style.opacity = "1";
      }, 0);
    }
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-10] h-full min-w-full bg-black bg-[radial-gradient(ellipse_75%_100%_at_50%_-20%,rgba(120,119,198,0.3),rgba(222,255,255,0))] fade"
      id="fadeDiv"
    >
    </div>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    text-wrap: pretty;
    max-width: 100%;
    min-width: 100%;
  }
  body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }


  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #bfdbfe #ffffff;
  }
  *::-webkit-scrollbar {
    width: 3.14px;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #bfdbfe;
    border-radius: 24px;
  }

  @media (max-width: 768px) {
    #fadeDiv {
      
    }
  }
</style>
